# Ignore the node_modules directory
node_modules

# Ignore Logs
logs
*.log

# Ignore folders
allure/
configuration_file/
my-Reporter/
reports/
screenshots/
testResults/

# The file containing environment variables 
.env

*.DS_Store
*.txt
*.rtf
*.xml
*.xls
*.jar
*.png
*.gif
*.jpeg
*.mp4
*.mp3
./Session1/