# Ignore the node_modules directory
**/node_modules

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# ignore ALL files in ANY directory named temp
temp/

# ignore data driven
**/data.json

#ignore folders
allure/
tests/Session1/
**/dataDriven/

#ignore file type
.DS_Store/
Thumbs.*
*.txt
*.tmp
*.temp
*.png
*.gif
*.jpg
*.jpeg
*.mp3
*.mp4
*.xlm
*.xls

